.loading {
    opacity: 1;
    background-image: url('https://i.pinimg.com/originals/87/3f/71/873f71c1f893a0aafad8695324fedfc9.gif');
    background-size: cover;
    background-position: center 70%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: black;
}

.allDiv {
    background: #f4f1de;
    padding-bottom: 1%;
}

.title {
    color: black;
    width: 44%;
    padding-left: 27%;
    padding-right: 35%;
    margin-bottom: 1%;
    font-family: -webkit-body;
}

/* #495057 */
.imgIzq {
    display: flex;
    width: 590px;
    height: 370px;
    float: left;
    align-self: flex-start;
    padding-left: 4%;
    padding-right: 5%;
}

.des {
    width: 44%;
    padding-left: 47%;
    padding-right: 35%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #f4f1de;
    margin: auto;
}

.text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-inline: 10%;
    padding-top: 25px;
}