.content {
    opacity: 1;
    background-image: url('https://i.pinimg.com/originals/3b/72/cc/3b72ccbc21bbfcb4c3ab8a758b756502.jpg');
    background-size: cover;
    background-position: center 70%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.conTitle {
    background: rgba(194, 180, 180, 0.5);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    margin-top: 10%;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.title {
    font-size: 32px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    align-content: center;
    position: relative;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
}

.bt {
    background: #495057;
    color: #ddd;
    border: 2px solid #FFF;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    margin: 12px 0 0 0;
    -webkit-appearance: button;
    transition: 0.3s ease;
}

.bt:hover {
    background-color: #ddd;
    color: black;
}